# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

config.ini
config copy.ini
bin/streamer_app.exe
dist/favorite_streamers-0.0.1-py3-none-any.whl
dist/favorite_streamers-0.0.1.tar.gz
src/favorite_streamers.egg-info/dependency_links.txt
src/favorite_streamers.egg-info/PKG-INFO
src/favorite_streamers.egg-info/SOURCES.txt
src/favorite_streamers.egg-info/top_level.txt
